<div class="container">
    <div class="row pt-5">
        <div class="col d-flex justify-content-center align-items-center">
            <h1 class="card-header text-center" style="font-size: 50px;">BEST Brașov</h1>
        </div>
        
        
      
    </div>
    <div class="row pt-5">
        <div class="col d-flex justify-content-center align-items-center" style="font-size: 24px">
            <p>BEST Brașov reușește de 26 de ani să faciliteze o bună comunicare între Universitatea Transilvania, studenții ei și companii.

                Prin crearea de evenimente, BEST Brașov are ca scop dezvoltarea abilităților studenților. Prin activități precum competiții IT, training-uri, workshop-uri și multe altele se dorește oferirea unor oportunități de învățare în afara mediului academic obișnuit.

                Membrii BEST Brașov analizează interesele studenților și găsesc soluții pentru nevoile acestora, prin evenimente realizate în colaborare cu diverse companii specializate.</p>
        </div>
        
        
      
    </div>
    <div class="row pt-5">
     
        
        <div class="col pt-3 ml-3">
            <img src="~/Images/poza1.jpg" style="float: left; margin-top: 20px; margin-left: 200px;" />
        </div>




        <div class="col">
                    <img src="~/Images/white.png"/>
                </div>
              
            </div>
        </div>
       

    
   
