<div class="container">
    <div class="row pt-5">
        <div class="col">
            <h1 class="card-header" style="font-size: 50px">Ce este BIT?</h1>

            <p class="" style="font-size: 22px;">BIT (BEST Information Technology) este un eveniment aflat la a noua ediție, care vine în ajutorul studenților pasionați de IT.

                Evenimentul aduce în fața studenților companii din domeniu pentru a le prezenta tehnologiile noi de pe piață și pentru a-i ajuta să își dezvolte competențele existente sau să dobândească unele noi în această arie. Se dorește de asemenea crearea unei strânse legături între studenți și companiile prezente prin activități de tip workshop, competiție IT, prezentare de companie sau show & tell.</p>

        </div>
        <div class="col pt-5 mt-5">
            <img src="Images/LogoW.png" class="fade-in" style="width: 500px; height: auto;" />
        </div>
    </div>
    <div class="row mx-auto mt-4" style="width:200px">
      
            <a asp-controller="Pax" asp-action="Create" class="btn btn-primary btn-custom align-content-center">Inscrie-te</a>
        
    </div>
</div>