html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


.btn-custom {
    font-family: 'Equinox', sans-serif;
    background-color: black;
    color: #fff; /* Set text color to white */
}

body {
    font-family: 'Equinox', sans-serif;
    margin-bottom: 60px;
    background-image: url('../Images/bg.jpg');
    color : blue;
}


@font-face {
    font-family: 'Equinox';
    src: url('../Fonts/Equinox Regular.otf') format('woff2'), url('/Fonts/your-font-file.woff') format('woff');
    /* Add other font formats if necessary */
}