html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


.btn-custom {
    border-block-color = white;
    width = 50px;
}


body {
   /* font-family: 'Equinox', sans-serif;*/
    margin-bottom: 60px;
    background-image: url('../Images/bg.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}


@font-face {
    font-family: 'Equinox';
    src: url('../Fonts/Equinox Regular.otf') format('woff2'), url('/Fonts/your-font-file.woff') format('woff');
    /* Add other font formats if necessary */
}


.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: moveBackground 20s linear infinite; /* Adjust the duration and other properties */
}

.form-control {
    color: white;
    caret-color: white;
}